<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="$safeprojectname$">
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyA44Syg9rLuV4smtobEhBm-TwkBlNpf2Sg" />
  </application>
</manifest>
